<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.CandidateInfoMapper">

    <resultMap type="CandidateInfo" id="CandidateInfoResult">
        <id     property="candidateId"       column="candidate_id"      />
        <result property="rowNum"       column="row_num"      />
        <result property="candidateName"       column="candidate_name"      />
        <result property="mobile"     column="mobile"    />
        <result property="personCategory"     column="person_category"    />
        <result property="unitId"        column="unit_id"        />
        <result property="unitName"        column="unit_name"        />
        <result property="personState"  column="person_state"  />
        <result property="delFlag"      column="del_flag"     />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <select id="selectCandidateInfo" parameterType="com.ruoyi.exam.domain.CandidateInfo" resultMap="CandidateInfoResult">
        select candidate_id, candidate_name, mobile, person_category, unit_id, person_state, del_flag, create_time, update_time, create_by, update_by, remark
        from candidate_info where del_flag = 0
        <if test="candidateId != null and candidateId != ''">
            AND candidate_id = #{candidateId}
        </if>
        <if test="candidateName != null and candidateName != ''">
            AND candidate_name = #{candidateName}
        </if>
        <if test="unitId != null and unitId != ''">
            AND unit_id = #{unitId}
        </if>
        <if test="mobile != null and mobile != ''">
            AND mobile = #{mobile}
        </if>
    </select>

    <select id="selectCandidateInfoList" parameterType="com.ruoyi.exam.domain.CandidateInfo" resultMap="CandidateInfoResult">
        SELECT ROW_NUMBER() OVER (ORDER BY tbl1.create_time) AS row_num, tbl1.candidate_id, tbl1.candidate_name, tbl1.mobile,
        CASE WHEN tbl1.person_category = '1' THEN '执法司法人员' ELSE '非执法司法人员' END person_category,
        CASE WHEN tbl1.person_state = '1' THEN '通过' WHEN tbl1.person_state = '0' THEN '不通过' ELSE '待审核' END person_state,
        tbl1.unit_id, tbl2.dept_name as unit_name, tbl1.del_flag, tbl1.create_time, tbl1.update_time, tbl1.create_by, tbl1.update_by, tbl1.remark
        FROM candidate_info tbl1 left join sys_dept tbl2 on tbl1.unit_id = tbl2.dept_id
        where tbl1.del_flag = 0
        <if test="candidateName != null and candidateName != ''">
            AND tbl1.candidate_name like concat('%', #{candidateName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND tbl1.mobile like concat('%', #{mobile}, '%')
        </if>
        <if test="unitId != null and unitId != ''">
            AND tbl1.unit_id = #{unitId}
        </if>
        <if test="personState != null and personState != ''">
            AND tbl1.person_state = #{personState}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="insertCandidateInfoData" parameterType="com.ruoyi.exam.domain.CandidateInfo">
        insert into candidate_info(
        <if test="candidateId != null">candidate_id,</if>
        <if test="candidateName != null">candidate_name,</if>
        <if test="mobile != null and mobile != ''">mobile,</if>
        <if test="personCategory != null and personCategory != ''">person_category,</if>
        <if test="unitId != null and unitId != ''">unit_id,</if>
        person_state,
        del_flag,
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="candidateId != null">#{candidateId},</if>
        <if test="candidateName != null">#{candidateName},</if>
        <if test="mobile != null and mobile != ''">#{mobile},</if>
        <if test="personCategory != null and personCategory != ''">#{personCategory},</if>
        <if test="unitId != null and unitId != ''">#{unitId},</if>
        2,
        0,
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateCandidateInfo" parameterType="com.ruoyi.exam.domain.CandidateInfo">
        update candidate_info
        <set>
            <if test="personState != null and personState != ''">person_state = #{personState},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="candidateName != null and candidateName != ''">candidate_name = #{candidateName},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="personCategory != null and personCategory != ''">person_category = #{personCategory},</if>
            <if test="unitId != null and unitId != ''">unit_id = #{unitId},</if>
            update_time = sysdate()
        </set>
        where candidate_id = #{candidateId}
    </update>

    <delete id="removeCandidateInfo" parameterType="com.ruoyi.exam.domain.CandidateInfo">
        delete from candidate_info where 1=1
        <if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
    </delete>

    <resultMap type="CandidateExamRecordVo" id="CandidateExamRecordResult">
        <id     property="candidateId"       column="candidate_id"      />
        <result property="candidateName"       column="candidate_name"      />
        <result property="unitName"     column="dept_name"    />
        <result property="examYear"        column="exam_year"        />
        <result property="examTitle"     column="exam_title"    />
        <result property="topicSort"     column="dict_label"    />
        <result property="startTime"     column="start_time"    />
        <result property="endTime"     column="end_time"    />
        <result property="thisScore"        column="this_score"        />
        <result property="correctNum"        column="correct_num"        />
        <result property="errorNum"        column="error_num"        />
        <result property="wdNum"        column="wd_num"        />
        <result property="classHour"        column="class_hour"        />
    </resultMap>

    <select id="selectCandidateExamRecord" parameterType="com.ruoyi.exam.domain.vo.CandidateExamRecordVo" resultMap="CandidateExamRecordResult">
        select distinct tbl1.candidate_id, tbl2.candidate_name, tbl3.dept_name, tbl4.exam_year, tbl4.exam_title, tbl6.dict_label, tbl4.start_time, tbl4.end_time,
        tbl5.this_score, tbl5.correct_num, tbl5.error_num,
        CASE WHEN tbl5.correct_num is not null and tbl5.error_num is not null THEN (44-tbl5.correct_num-tbl5.error_num) ELSE 0 END wd_num, tbl5.class_hour
        from candidate_paper_state tbl1 left join candidate_info tbl2 on tbl1.candidate_id = tbl2.candidate_id
        left join sys_dept tbl3 on tbl2.unit_id = tbl3.dept_id
        left join exam_manage tbl4 on tbl1.exam_id = tbl4.exam_id
        left join (select distinct candidate_id, this_score, correct_num, error_num, exam_id, topic_sort, CASE WHEN class_hour is null THEN 0 ELSE class_hour END class_hour from person_class_hour where del_flag = 0 GROUP BY candidate_id, exam_id, topic_sort) tbl5 on tbl2.candidate_id = tbl5.candidate_id and tbl4.exam_id = tbl5.exam_id and tbl1.topic_sort = tbl5.topic_sort
        left join sys_dict_data tbl6 on tbl5.topic_sort = tbl6.dict_code
        where tbl1.del_flag = 0
        and tbl1.paper_state = 0
        and tbl2.del_flag = 0
        and tbl2.candidate_name is not null
        and tbl3.del_flag = 0
        and tbl4.del_flag = 0
        and tbl5.class_hour is not null
        and tbl6.status = 0
        <if test="candidateName != null and candidateName != ''">and tbl2.candidate_name like concat('%', #{candidateName}, '%')</if>
        <if test="unitName != null and unitName != ''">and tbl3.dept_name like concat('%', #{unitName}, '%')</if>
        <if test="examYear != null and examYear != ''">and tbl4.exam_year = #{examYear}</if>
        <if test="examTitle != null and examTitle != ''">and tbl4.exam_title like concat('%', #{examTitle}, '%')</if>
        <if test="unitIds != null">
            AND tbl3.dept_id in
            <foreach collection="unitIds" item="unitId" open="(" separator="," close=")">
                #{unitId}
            </foreach>
        </if>
        <if test="topicSort != null and topicSort != ''">and tbl6.dict_code = #{topicSort}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

</mapper>
