<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.CandidateSignUpMapper">

    <resultMap type="CandidateSignUp" id="CandidateSignUpResult">
        <id     property="signUpId"       column="sign_up_id"      />
        <result property="candidateId"       column="candidate_id"      />
        <result property="candidateName"     column="candidate_name"    />
        <result property="personCategory"     column="person_category"    />
        <result property="unitId"        column="unit_id"        />
        <result property="examId"        column="exam_id"        />
        <result property="topicSort"        column="topic_sort"        />
        <result property="delFlag"      column="del_flag"     />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <insert id="insertCandidateSignUpData" parameterType="com.ruoyi.exam.domain.CandidateSignUp">
        insert into candidate_sign_up(
        <if test="signUpId != null">sign_up_id,</if>
        <if test="candidateId != null">candidate_id,</if>
        <if test="candidateName != null">candidate_name,</if>
        <if test="personCategory != null">person_category,</if>
        <if test="unitId != null">unit_id,</if>
        <if test="examId != null">exam_id,</if>
        <if test="topicSort != null">topic_sort,</if>
        del_flag,
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="signUpId != null">#{signUpId},</if>
        <if test="candidateId != null">#{candidateId},</if>
        <if test="candidateName != null">#{candidateName},</if>
        <if test="personCategory != null">#{personCategory},</if>
        <if test="unitId != null">#{unitId},</if>
        <if test="examId != null">#{examId},</if>
        <if test="topicSort != null">#{topicSort},</if>
        0,
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <select id="latestCandidateSignUp" parameterType="com.ruoyi.exam.domain.CandidateSignUp" resultMap="CandidateSignUpResult">
        select sign_up_id, candidate_id, candidate_name, person_category, unit_id, exam_id, topic_sort, del_flag, create_time, update_time, create_by, update_by, remark
        from candidate_sign_up
        where del_flag = 0
        <if test="candidateId != null">and candidate_id = #{candidateId}</if>
        <if test="candidateName != null">and candidate_name = #{candidateName}</if>
        <if test="unitId != null">and unit_id = #{unitId}</if>
        <if test="examId != null">and exam_id = #{examId}</if>
        <if test="topicSort != null">and topic_sort = #{topicSort}</if>
        order by create_time desc limit 1
    </select>

</mapper>
