<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.CandidatePaperStateMapper">

    <select id="listCandidatePaperState" parameterType="com.ruoyi.exam.domain.CandidatePaperState" resultType="com.ruoyi.exam.domain.CandidatePaperState">
        SELECT distinct candidate_id, exam_id
        FROM candidate_paper_state
        where del_flag = 0
        <if test="null != candidateId and '' != candidateId">
            and candidate_id = #{candidateId}
        </if>
        and paper_state = '0'
        order by id desc
    </select>

</mapper>
