<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ClassHourSfMapper">

    <select id="getTargetHours" parameterType="com.ruoyi.exam.domain.ClassHourSf" resultType="String">
        SELECT case when sum(target_hours) is null then '0' else sum(target_hours) end targetHours FROM class_hour_sf
        where del_flag = 1
        <if test="examId != null and examId != ''">
            AND exam_id = #{examId}
        </if>
        <if test="personType != null and personType != ''">
            AND person_type = #{personType}
        </if>
    </select>

    <insert id="insertClassHourSfData" parameterType="com.ruoyi.exam.domain.ClassHourSf">
        insert into class_hour_sf(
        <if test="hourId != null">hour_id,</if>
        <if test="examId != null">exam_id,</if>
        <if test="dictCode != null">dict_code,</if>
        <if test="targetHours != null and targetHours != ''">target_hours,</if>
        <if test="personType != null and personType != ''">person_type,</if>
        del_flag,
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="hourId != null">#{hourId},</if>
        <if test="examId != null">#{examId},</if>
        <if test="dictCode != null">#{dictCode},</if>
        <if test="targetHours != null and targetHours != ''">#{targetHours},</if>
        <if test="personType != null and personType != ''">#{personType},</if>
        1,
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateClassHourSf" parameterType="com.ruoyi.exam.domain.ClassHourSf">
        update class_hour_sf
        <set>
            <if test="targetHours != null and targetHours != ''">target_hours = #{targetHours},</if>
            update_time = sysdate()
        </set>
        where hour_id = #{hourId}
    </update>

    <select id="getPersonClassHour" parameterType="String" resultType="com.ruoyi.exam.domain.vo.PersonClassHourVo">
        SELECT case when person_type = '1' then '执法司法人员' when person_type = '2' then '非执法司法人员' end personType,
        sum(target_hours) as targetHours FROM class_hour_sf
        where del_flag = 1
        <if test="examId != null and examId != ''">
            AND exam_id = #{examId}
        </if>
        group by person_type
        order by person_type
    </select>

    <select id="getPersonLabelHour" parameterType="String" resultType="com.ruoyi.exam.domain.vo.PersonClassHourVo">
        SELECT tbl1.hour_id as hourId, tbl1.person_type as personType, tbl2.dict_label as dictLabel, sum(tbl1.target_hours) as targetHours
        FROM class_hour_sf tbl1 LEFT JOIN sys_dict_data tbl2 on tbl1.dict_code = tbl2.dict_code
        where tbl1.del_flag = 1
        <if test="examId != null and examId != ''">
            AND tbl1.exam_id = #{examId}
        </if>
        group by tbl1.hour_id, tbl1.person_type, tbl2.dict_label
        order by tbl1.person_type, tbl2.dict_code
    </select>

</mapper>
