<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.PersonClassHourMapper">

    <select id="getAcquiredHours" parameterType="com.ruoyi.exam.domain.PersonClassHour" resultType="String">
        select case when sum(class_hour) is null then '0' else sum(class_hour) end classHour from person_class_hour
            where del_flag = 1
            <if test="null != candidateId and '' != candidateId">and candidate_id = #{candidateId}</if>
            <if test="null != examId and '' != examId">and exam_id = #{examId}</if>
    </select>

</mapper>
