<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.StatisticalAnalysisMapper">

    <resultMap type="CandidateClassHourVo" id="CandidateClassHourVoResult">
        <result property="examId"       column="exam_id"      />
        <result property="examTitle"       column="exam_title"      />
        <result property="unitId"       column="unit_id"      />
        <result property="unitName"       column="unit_name"      />
        <result property="examYear"        column="exam_year"        />
        <result property="classHour"       column="class_hour"      />
        <result property="candidateId"     column="candidate_id"    />
        <result property="classHour"     column="class_hour"    />
    </resultMap>

    <select id="selectStatisticalAnalysisList" parameterType="com.ruoyi.exam.domain.vo.CandidateClassHourVo" resultMap="CandidateClassHourVoResult">
        select tbl4.exam_id, tbl4.exam_title, tbl4.unit_id, tbl4.unit_name, tbl4.exam_year, tbl4.candidate_id,
        case when sum(tbl5.class_hour) is null then '0' else sum(tbl5.class_hour) end class_hour from
        (
        select tbl1.exam_id, tbl1.exam_title, tbl3.unit_id, tbl3.unit_name, tbl1.exam_year, tbl2.candidate_id
        from exam_manage tbl1 LEFT JOIN candidate_sign_up tbl2 on tbl1.exam_id = tbl2.exam_id
        LEFT JOIN unit_manage tbl3 ON tbl2.unit_id = tbl3.unit_id
        where tbl1.del_flag = '1'
        <if test="examYear != null and examYear != ''">
            AND tbl1.exam_year = #{examYear}
        </if>
        <if test="unitName != null and unitName != ''">
            AND tbl3.unit_name like concat('%', #{unitName}, '%')
        </if>
        <if test="unitIds != null">
            AND tbl3.unit_id in
            <foreach collection="unitIds" item="item" open="(" separator="," close=")">
                #{item.unitId}
            </foreach>
        </if>
        and tbl2.candidate_id is not null
        ) tbl4 LEFT JOIN person_class_hour tbl5 on tbl4.candidate_id = tbl5.candidate_id and tbl4.exam_id = tbl5.exam_id
        GROUP BY tbl4.exam_id, tbl4.exam_title, tbl4.unit_id, tbl4.unit_name, tbl4.exam_year, tbl4.candidate_id
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <resultMap type="StatisticalAnalysisDetailsVo" id="StatisticalAnalysisDetailsResult">
        <result property="candidateId"       column="candidate_id"      />
        <result property="candidateName"       column="candidate_name"      />
        <result property="unitName"       column="unit_name"      />
        <result property="mobile"       column="mobile"      />
        <result property="examId"       column="exam_id"      />
        <result property="examYear"        column="exam_year"        />
        <result property="examTitle"       column="exam_title"      />
    </resultMap>

    <select id="getStatisticalAnalysisDetails" parameterType="com.ruoyi.exam.domain.vo.StatisticalAnalysisDetailsVo" resultMap="StatisticalAnalysisDetailsResult">
        select tbl1.candidate_id, tbl1.candidate_name, tbl4.unit_name, tbl2.mobile, tbl3.exam_id, tbl3.exam_year, tbl3.exam_title
        from candidate_sign_up tbl1
        LEFT JOIN candidate_info tbl2 ON tbl1.candidate_id = tbl2.candidate_id
        LEFT JOIN exam_manage tbl3 ON tbl1.exam_id = tbl3.exam_id
        LEFT JOIN unit_manage tbl4 ON tbl1.unit_id = tbl4.unit_id
        where tbl1.del_flag = 1
        and tbl2.del_flag = 1
        and tbl3.del_flag = 1
        and tbl4.del_flag = 1
        <if test="unitId != null and unitId != ''">
            AND tbl4.unit_id = #{unitId}
        </if>
        <if test="candidateName != null and candidateName != ''">
            AND tbl1.candidate_name = #{candidateName}
        </if>
        <if test="mobile != null and mobile != ''">
            AND tbl2.mobile = #{mobile}
        </if>
        <if test="examId != null and examId != ''">
            AND tbl3.exam_id = #{examId}
        </if>
        <if test="examYear != null and examYear != ''">
            AND tbl3.exam_year = #{examYear}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

</mapper>
