<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.UnitManageMapper">

    <resultMap type="UnitManage" id="UnitManageResult">
        <id     property="unitId"       column="unit_id"      />
        <result property="unitName"       column="unit_name"      />
        <result property="delFlag"      column="del_flag"     />
    </resultMap>

    <select id="selectUnitAllList" parameterType="com.ruoyi.exam.domain.UnitManage" resultMap="UnitManageResult">
        select unit_id, unit_name, del_flag from unit_manage where del_flag = 1
    </select>

    <select id="selectUnitList" parameterType="com.ruoyi.exam.domain.vo.CandidateClassHourVo" resultMap="UnitManageResult">
        select unit_id, unit_name, del_flag from unit_manage where del_flag = 1 and unit_id in
        (
        select distinct unit_id from candidate_sign_up where del_flag = 1 and exam_id in
        (
        select distinct exam_id from exam_manage where del_flag = 1
        <if test="examYear != null and examYear != ''">
            AND exam_year = #{examYear}
        </if>
        and publish_state = 1
        )
        )
        <if test="unitName != null and unitName != ''">
            AND unit_name like concat('%', #{unitName}, '%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

</mapper>
